body {
    background-color: #1F2937;
    margin: 0;
    padding: 0;
}
.logo {
    width:100px;
    height:100px;
    margin-left: 50px;
    margin-top: 20px;
    padding: auto;
    border-radius: 50%;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.menuright {
    display: flex;
    justify-content: right;
    gap: 40px;
    margin-right: 50px;
    color: white;
    font-size: 30px;
}

.picture-main {
    width: 700px;
    height: 500px;
    margin: 100px 160px 100px 100px;
}

.partone {
    display: flex;
    justify-content: center;
}

.firstsegment {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 170px;
    color: white;
}

.firstsegmenttitle {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: -50px;
}

p {
    font-size: 36px;
}

button {
    background-color: #3882F6;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882F6;
    color: white;
}
.firstbutton {
    margin-top: 20px;
    width: 150px;
    font-size: 25px;
}

.backgroundtwo {
    background-color: white;
}
.secondsegment {
    display: flex;
    flex-direction: column;
}

.titelparttwo {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0;
}

.picture-rest {
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 12px;
    border-color: #3882F6;
}

.pictures {
    display: flex;
    justify-content: space-around;
}

.underline {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.note {
    width: 200px;
    text-align: center;
    font-size: 40px;
}

.partthree {
    text-align: center;
    background-color: #E5E7EB;
    padding: 50px 0;
    font-size: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.partfourbackground {
    background-color: white;
    height: 200px;
    padding: 100px 0 70px;
}
.partfour {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-color: #3882F6;
    margin: 0 500px;
    border-radius: 12px;
}

.a .b {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.a {
    color: white;
    font-size: 25px;
}

.b {
    padding-top: 30px;
}

.downbutton {
    border-color: white;
    border-width: 3px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 0 20px;
}

.footer {
    text-align: center;
    color: white;
}

h6 {
    font-size: 24px;
}

